
html {
    font-family: sans-serif;
    font-size: 16px;
  }

  
  body {
    margin: 0px;
  }

#text-wrapper {
  padding: 1rem;
}

footer {
  text-align: center;
}

aside {
  display: flex;
  flex-direction: column;
}

form {
  margin: 1rem 3rem;
}

.myCoolButton > #1{
    background: #85144b;
}

.myCoolButton > #2{
    background: #fcad03;
}

.myCoolButton > #3{
    background: #148521;
}

.myCoolButton > #4{
    background: #b03810;
}
