html {
    font-family: sans-serif;
    font-size: 16px;
  }

  
  body {
    margin: 0px;
  }

  img {
    width: 100%;
    height: auto;
  }

#wrapper{
  display: flex;
  justify-content: center;
}

#text-wrapper {
  padding: 1rem;
}

footer {
  text-align: center;
}


#content {
  margin-left: 25%; 
  margin-right: 25%; 

}

h1 {
  text-align: center;
}

.image{
  float: right;
}
