
html {
    font-family: sans-serif;
    font-size: 16px;
  }
  
  body > header:nth-child(1) {
    background-color: black;
    color: white;
    padding: 1rem;
  }
  
  body {
    margin: 0px;
  }
  
  body > header:nth-child(1) > h1:nth-child(1) {
    margin: 0px;
  }
  
#wrapper {
  display: flex;
  justify-content: space-between;
}

#wrapper img {
  width: 50%;
  margin: 1rem 0 2rem 1rem;
}

#wrapper > aside:nth-child(1) {
  padding: 1rem;
}

#wrapper > main:nth-child(2) > p:nth-child(2) {
  width: 75%;
}


#wrapper > main:nth-child(2) {
  display: flex;
}

main {
  width: 85%;
}

#text-wrapper {
  padding: 1rem;
}

footer {
  text-align: center;
}